body{
    background-color: white;
    color: black;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
#page{
    max-width: 90%;
    margin: 0 auto;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}
#header #logo{
    text-decoration: none;
    color: black;
}
#header #navigation a{
    text-decoration: none;
    margin-right: 3rem;
    color: black;
}
#hero{
    background-color: rgb(93, 119, 134);
    text-align: center;
    padding: 4rem 0rem;
    color: white;
    margin-bottom: 4rem;
}
#hero #link{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    margin: 2rem 0rem;
}
#body{
    max-width: 80%;
    margin: 0 auto; 
}
#title-cards{
    text-align: center;
}
#f-div{
    
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
  }
  #f-div div{
    height: 20rem;
}
#s-div{
    display: flex;
    gap: 5%;
   
}
#s-div div{
    width: 30%;
    height: 20rem;
   
}
#color-1{
    background-color: rgb(19, 7, 7);
}
#color-2{
    background-color: rgb(17, 39, 17);
}
#color-3{
    background-color: rgb(255, 196, 0);
}
#color-4{
    background-color: rgb(5, 91, 172);
}
#color-5{
    background-color: rgb(171, 187, 187);
}

.grid a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-style: bolder;
    position: relative;
    top: 8rem;
}
.flex a{
    text-decoration: none;
    color: white;
     font-size: 1.5rem;
    font-style: bolder;
    position: relative;
    top: 7rem;
}
#cards div{
    margin-top: 2%;
    text-align: center;   
}

#footer{
    background-color: rgba(227, 235, 234, 0.767);
    padding: 2rem 0;
    margin-top: 4rem; 
    text-align: center;   
}
small a{
    text-decoration: none;
    color: blue;
}